huggingface-hub 
faiss-cpu

smolagents
keras 
faiss-gpu
gradio>=4.44.0 
gradio>=4.44.0_client 
chroma-hnswlib
chromadb 
langchain 
langcodes 
pydantic 
pydantic_core 
pypdf 
langchain-community
sentence_transformers>=4.35.0
PyPDF2